.common-pagination-wrapper {
  margin: 20px 0;
}

.common-tag-wrapper {
  .el-tag {
    margin: 0 0 0 10px;
    vertical-align: middle;
  }
  .input {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    margin-left: 10px;
  }
  .button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.common-querytable-wrapper {
  padding: 0;
  width: 100%;
  background: #fff;
  font-size: 0;
  //border-bottom: 1px solid #ddd;
  .queryform-wrapper {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    .outside {
      padding: 14px 0 14px 0;
      overflow: hidden;
    }
    .inside {

    }
    .basearea {
      display: block;
      //margin: 10px 0 0 0;
      width: 100%;
      li {
        vertical-align: middle;
      }
    }
    .expandarea {
      display: block;
      //padding: 10px 0 0 0;
      width: 100%;
      overflow: hidden;
      height: 0;
      transition: all 0.3s;
      &.active {
        padding: 10px 0 0 0;
        height: 170px;
        transition: all 0.3s;
        //margin-bottom: 15px;
      }
      li {
        display: block;
        margin: 5px 0;
      }
      .ant-row > div > .ant-row {
        float: left;
      }
    }
  }

  .operation-wrapper {
    display: inline-block;
    //width: 240px;
    vertical-align: top;
  }
  ul {
    //text-align: center;
    li {
      display: inline-block;
      padding: 0 4px;
    }
  }
  .el-collapse-item__header {
    height: 0 !important;
  }
}

.common-search-wrapper {
  margin: 0 auto;
  width: 180px;
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 5px;
  position: relative;
  input {
    display: inline-block;
    padding: 0 40px 0 10px;
    width: 100%;
    height: 100%;
    border: 0;
    background: 0;
    box-sizing: border-box;
    font-size: 13px;
  }
  a {
    display: inline-block;
    width: 30px;
    height: 100%;
    line-height: 30px;
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    span {
      display: inline-block;
      color: #5db9f0;
    }
    &:hover {
      span {
        color: #386d8f;
      }
    }
  }
}

.common-textareamedium-wrapper{
  .el-textarea{
    .el-textarea__inner{
      min-height: 150px!important;
    }
  }

}

.common-imguploadpreview-wrapper{
  position: relative;
  .image-item{
    display: inline-block;
    width: 110px;
    height: 110px;
    position: relative;
    vertical-align: middle;
    img{
      display: inline-block;
      width: 100%;
    }
    .operator{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      top: 0;
      text-align: center;
      &:before{
        content:'';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      li{
        display: inline-block;
        color: #fff;
        vertical-align: middle;
        a{
          margin: 0 5px;
          color: #ddd;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }

}

