.edifice_main_container {
  .sortlist {
    > li {
      margin: 0 auto 20px;
      //width: 80%;
      height: 200px;
      .maincontent {

      }
    }
  }
  .buildingname {
    margin: 10px 0;
    font-size: 20px;
  }
  .floordesc {
    > li {
      display: inline-block;
    }
    .brandmeta {
      label {
        //font-size: 16px;
      }
      span {
        //font-size: 16px;
      }
    }

  }
  .advertisedesc{
    .advertiselist{
      li{
        display: inline-block;
        margin: 0 10px 0 0;
        img{
          display: inline-block;
        }
        .advertisemeta{
          display: inline-block;
          vertical-align: top;
          .location{
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .operation {
    float: right;
  }
}
