.edifice_main_container {
  .sortlist {
    overflow: auto;
    box-shadow: 0 0 15px inset #ccc;
    > li {
      margin: 20px auto;
      width: 98%;
      height: 200px;
      .floornumber{
        margin: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        span{
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #ccc;
          font-size: 25px;
          border-radius: 50%;
          vertical-align: middle;
        }
        label{
          display: inline-block;
          vertical-align: bottom;
          font-size: 15px;
        }

      }
      .maincontent {

      }
    }
  }
  .buildingname {
    margin: 10px 15px;
    font-size: 20px;
    position: absolute;
    top: 0;
  }
  .floordesc {
    > li {
      display: inline-block;
    }
    .brandmeta {
      label {
        //font-size: 16px;
      }
      span {
        //font-size: 16px;
      }
    }

  }
  .advertisedesc{
    .advertiselist{
      li{
        display: inline-block;
        margin: 0 10px 0 0;
        img{
          display: inline-block;
          width: 120px;
        }
        .advertisemeta{
          display: inline-block;
          vertical-align: top;
          .location{
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .operation {
    float: right;
  }
}
.edifice_sortadvertise_wrapper{
  li{
    display: inline-block;
    margin: 10px;
    width: 135px;
    height: 135px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
    &:hover{
      cursor: move;
    }
  }
}
.edifice_addminusadvertise_wrapper{
  margin: 10px 0;
  position: relative;
  text-align: right;
  .minus{
    display: inline-block;
    width: 30px;
    text-align: center;
    position: absolute;
    right: -40px;
    top: 0;
    a{
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 20px;
      text-align: center;
      color: orangered;
      vertical-align: middle;
    }

  }
}
